:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --primary-white-color: #ffffff;
}
/* body */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* logo */
.site-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: black;
}
.logo {
  color: var(--accent-color);
}
/* nav, contacts */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
/* sections */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-title.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
}
/* buttons */
.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0, auto;
}
.button.filters {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button.filters:hover,
.button.filters:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* list */
ul {
  list-style: none;
}
/* links decoration */
a {
  text-decoration: none;
}
/* adress */
.adress > p {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  letter-spacing: 0.03em;
}

.adress > a {
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress > a:hover,
.adress > a:focus {
  color: var(--accent-color);
}
/* portfolio */
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  /* color: var(--title-text-color); */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
